<section
  class="relative bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('./assets/banner.jpg');
    background-position: right;
  "
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25"
  ></div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8 lg:justify-end"
  >
    <div class="max-w-xl text-center sm:text-left">
      <h4 class="text-3xl font-bold sm:text-2xl text-[#222] mb-4">
        Trade-in-offer
      </h4>
      <h2 class="block font-bold text-4xl text-[#222]">Super value deals</h2>
      <h1 class="block font-bold text-5xl text-[#088178] tracking-normal">
        On all products
      </h1>
      <p class="mt-4 max-w-lg sm:text-xl/relaxed opacity-60 my-4">
        Save more with coupons&up to 
        <span
          class="before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-pink-500 relative inline-block"
        >
          <span class="relative text-white">70%off!</span>
        </span>
      </p>
      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a
          href="#"
          class="block w-full rounded-full bg-teal-600 px-12 py-3 text-sm font-medium text-black shadow  hover:bg-teal-700 focus:outline-none focus:ring active:bg-teal-700 sm:w-auto"
          >Get Started</a
        >
        <a
          href="#"
          class="block w-full rounded-full bg-teal-400 px-12 py-3 text-sm font-medium text-black shadow focus:outline-none focus:ring active:text-rose-500 sm:w-auto"
          >Shop now</a
        >
      </div>
    </div>
  </div>
</section>
