<div class="flex justify-center">
    <div class="relative text-gray-600">
      <input type="search" name="search" placeholder="Search" class="caret-teal-500 focus:ring-2 focus:ring-teal-500 bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none w-44 md:w-72 ">
      <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
        <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path class="heroicon-ui" d="M15.79 14.79L20 19l-1.41 1.41L14.37 16H13l-.3-.29A6.5 6.5 0 1 1 9 16.5c0 .13 0 .26.03.39L7 19l-1.79-1.79L9.82 14C7.69 13.3 6 11.39 6 9a6 6 0 1 1 12 0c0 1.42-.5 2.71-1.33 3.72zm-4.29 1.46l-1.79 1.8L4 19l1.8-1.79A7.454 7.454 0 0 0 4 9a7.5 7.5 0 1 0 15 0c0 4.14-3.36 7.5-7.5 7.5a7.454 7.454 0 0 0-4.29 1.46z"/>
        </svg>
      </button>
    </div>
  </div>




