<section class="mt-10 py-10 bg-gray-100">
  <div class="flex justify-center">
    <!-- Hiển thị số kết quả -->
    <div *ngIf="filteredCountries.length === 0">
      <h2>Không tìm thấy kết quả</h2>
    </div>
    <div *ngIf="filteredCountries.length > 0 && searchValue">
      <h2>
        Tìm thấy tổng {{ filteredCountries.length }} kết quả
        <strong *ngIf="searchValue">"{{ searchValue }}"</strong>
      </h2>
    </div>
  </div>
  <div class="sort bg-slate-200 py-3 flex items-center gap-3 pl-3">
    <span>Sorted by:</span>
    <div class="sort-price w-48">
      <select
        name="sortPrice"
        id="sortPrice"
        (change)="sortPriceChange($event)"
        class="w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option class="hidden" value="">Price</option>
        <option class="hover:bg-red-500 omee" value="asc">
          Price: Ascending
        </option>
        <option class="hover:bg-red-500" value="desc">Price: Decrease</option>
      </select>
    </div>

    <div class="sort-rating w-48">
      <select
        name="sortPrice"
        id="sortPrice"
        (change)="sortRatingChange($event)"
        class="w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option class="hidden" value="">Rating</option>
        <option class="hover:bg-red-500 omee" value="asc">
          Rating: Tăng dần
        </option>
        <option class="hover:bg-red-500" value="desc">Rating: Giảm dần</option>
      </select>
    </div>
    <div class="sort-Sale w-48">
      <select
        name="sortPrice"
        id="sortPrice"
        (change)="sortSaleChange($event)"
        class="w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      >
        <option class="hidden" value="">Sale</option>
        <option class="hover:bg-red-500 omee" value="asc">
          Sale: Tăng dần
        </option>
        <option class="hover:bg-red-500" value="desc">Sale: Giảm dần</option>
      </select>
    </div>
  </div>
  <div
    class="grid max-w-full grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  >
    <article
      *ngFor="
        let product of filteredCountries.slice(
          (currentPage - 1) * itemsPerPage,
          currentPage * itemsPerPage
        )
      "
      class="relative mt-10 rounded-xl bg-white p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300 border-[#cce7d0]"
    >
      <div
        *ngIf="product.hot_sale"
        class="absolute z-10 left-0 top-1 py-2 px-2"
        style="
          background-image: url('./assets/seo.png');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        "
      >
        <span
          class="m-2 rounded-full text-center text-sm font-medium text-white"
          >{{ product.hot_sale }}% OFF</span
        >
      </div>
      <span
        href=""
        title="Add to Favorites"
        class="absolute top-0 right-1 z-20 text-5xl text-gray-300 hover:text-red-600 duration-200 cursor-pointer"
        (click)="addToFavorites(product)"
        [ngClass]="{
          'text-red-600': product.isFavorite,
          'text-gray-300': !product.isFavorite
        }"
        >&hearts;</span
      >
      <a
        class="relative mx-3 mt-3 flex justify-center h-60 overflow-hidden rounded-xl"
      >
        <img
          [routerLink]="'/products/' + product._id"
          class="w-full object-contain cursor-pointer"
          [src]="product.image[0]"
          alt="{{ product.name }}"
        />
      </a>
      <div class="mt-4 px-5 pb-5">
        <a href="#">
          <h5 class="text-xl tracking-tight text-slate-900 truncate">
            {{ product.name }}
          </h5>
        </a>
        <div class="mt-2 mb-5 flex flex-col justify-start">
          <p class="w-full">
            <span class="text-2xl font-bold text-slate-900 mx-1">{{
              product.priceSale | currency : "USD" : "symbol" : "1.2-2"
            }}</span>
            <span
              *ngIf="product.hot_sale"
              class="text-sm text-slate-900 line-through mx-1"
              >{{ product.price | currency : "USD" : "symbol" : "1.2-2" }}</span
            >
          </p>

          <div class="flex items-center">
            <ng-container
              *ngFor="let rating of getRatingArray(product.rating, 5)"
            >
              <svg
                aria-hidden="true"
                class="h-5 w-5"
                [ngClass]="{
                  'text-yellow-300': rating <= product.rating,
                  'text-gray-300': rating > product.rating
                }"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                ></path>
              </svg>
            </ng-container>
            <span
              class="mr-2 ml-3 rounded bg-yellow-200 px-2.5 py-0.5 text-xs font-semibold"
            >
              {{ product.rating | number : "1.1-1" }}
            </span>
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product.inventoryStatus)"
            ></p-tag>
          </div>
        </div>
        <span
          [routerLink]="'/products/' + product._id"
          class="flex items-center justify-center cursor-pointer rounded-md dark:bg-slate-900 bg-teal-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-slate-600 focus:outline-none focus:ring-4 focus:ring-blue-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="mr-2 h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
          Detail Product</span
        >
      </div>
    </article>
  </div>
</section>
<div class="card flex justify-center">
  <p-paginator
    [rows]="itemsPerPage"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (onPageChange)="onPageChange($event)"
  ></p-paginator>
</div>
