<div class="bg-[url('./assets/bgcart.jpg')] bg-no-repeat bg-cover bg-center h-80 flex justify-center items-center mt-2">
  <h1 class="uppercase text-4xl font-bold text-white">Giới Thiệu</h1>
</div>

<div class="grid grid-cols-2 gap-4 items-center py-6 rounded-lg border border-gray-100 bg-slate-200 shadow-md ">
  <div>
    <h2 class=" ml-4 mb-6 text-3xl font-bold text-dark sm:text-4xl sm:leading-snug 2xl:text-[40px]">
      Chào mừng đến với cửa hàng giày của chúng tôi!
    </h2>
    <p class=" ml-6 mb-9 text-base leading-relaxed text-body-color description">
      Chúng tôi cung cấp một loạt các sản phẩm giày đa dạng về kiểu dáng, màu sắc và chất liệu từ các thương hiệu nổi tiếng. Tất cả các sản phẩm đều được chúng tôi lựa chọn kỹ càng để đảm bảo chất lượng và sự thoải mái cho khách hàng khi sử dụng. Chúng tôi luôn cập nhật xu hướng mới nhất và thường xuyên có các chương trình giảm giá hấp dẫn để khách hàng có thể mua sắm giày yêu thích với giá cả phải chăng. Với đội ngũ nhân viên tận tâm và giàu kinh nghiệm, chúng tôi cam kết mang lại sự hài lòng cho khách hàng khi mua sắm tại cửa hàng của chúng tôi. Hãy ghé thăm cửa hàng của chúng tôi và khám phá bộ sưu tập giày đa dạng của chúng tôi ngay hôm nay!
    </p>
  </div>
  <div>
    <img src="./assets/b18.jpg" alt="" class="w-full">
  </div>
</div>

<app-footer></app-footer>
