<section
    class="bg-[url('/assets/b18.jpg')] bg-no-repeat bg-cover bg-center h-[60vh] md:h-90 lg:h-screen flex flex-col justify-center items-start">
    <div class="max-w-screen-xl mx-auto px-4 w-full">
        <h4 class="pb-4 text-base lg:text-xl font-bold">Website bán hàng Thời Trang </h4>
        <h1 class="text-3xl lg:text-5xl font-bold">Giảm giá Cực Sốc <br> <span class="text-primary leading-snug">Thời trang</span> </h1>
        <p class="my-5">Giảm giá 80% tất cả sản phẩm </p>
        <a
        class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
        href="/"
      >
        mua ngay
      </a>

         </div>
</section>
