
<app-header></app-header>
<div class="py-6bg-slate-100 mt-16">
  <!-- Breadcrumbs -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center space-x-2 text-gray-400 text-sm pt-5">
      <a routerLink="/" class="hover:underline hover:text-gray-600">Home</a>
      <span>
        <svg
          class="h-5 w-5 leading-none text-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </span>
      <a class="hover:underline hover:text-gray-600">Electronics</a>
      <span>
        <svg
          class="h-5 w-5 leading-none text-gray-300"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </span>
      <span>Headphones</span>
    </div>
  </div>
  <!-- ./ Breadcrumbs -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6  ">
    <div class="flex flex-col md:flex-row ">
      <div class="md:flex-1 p-2 shadow-md bg-slate-100 ">
        <app-carousel></app-carousel>
      </div>
      <div class="md:flex-1 px-4">
        <h2
          class="mb-2 leading-tight tracking-tight font-bold text-gray-800 text-2xl md:text-3xl"
        >
          Nike Air MX Super 2500 - Red
        </h2>
        <div class="flex items-center space-x-4 my-4">
          <div>
            <div class="rounded-lg bg-gray-100 flex py-2 px-3">
              <span class="text-indigo-400 mr-1 mt-1">$</span>
              <span class="font-bold text-indigo-600 text-3xl">25</span>
            </div>
          </div>
          <div class="flex-1">
            <p class="text-green-500 text-xl font-semibold">Save 12%</p>
            <p class="text-gray-400 text-sm">Inclusive of all Taxes.</p>
          </div>
        </div>
        <p class="text-gray-500">
          Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Vitae
          exercitationem porro saepe ea harum corrupti vero id laudantium enim,
          libero blanditiis expedita cupiditate a est.
        </p>
        <div class="pt-4">
          <legend class="text-lg font-bold">Color:</legend>
          <div class="mt-2 flex flex-wrap gap-1">
            <label for="color_green" class="cursor-pointer">
              <input
                type="radio"
                id="color_green"
                name="color"
                class="peer sr-only"
                checked
              />

              <span
                class="block h-6 w-6 rounded-full border border-gray-200 bg-green-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"
              ></span>
            </label>

            <label for="color_blue" class="cursor-pointer">
              <input
                type="radio"
                id="color_blue"
                name="color"
                class="peer sr-only"
              />

              <span
                class="block h-6 w-6 rounded-full border border-gray-200 bg-blue-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"
              ></span>
            </label>

            <label for="color_pink" class="cursor-pointer">
              <input
                type="radio"
                id="color_pink"
                name="color"
                class="peer sr-only"
              />

              <span
                class="block h-6 w-6 rounded-full border border-gray-200 bg-pink-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"
              ></span>
            </label>

            <label for="color_red" class="cursor-pointer">
              <input
                type="radio"
                id="color_red"
                name="color"
                class="peer sr-only"
              />

              <span
                class="block h-6 w-6 rounded-full border border-gray-200 bg-red-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"
              ></span>
            </label>

            <label for="color_indigo" class="cursor-pointer">
              <input
                type="radio"
                id="color_indigo"
                name="color"
                class="peer sr-only"
              />

              <span
                class="block h-6 w-6 rounded-full border border-gray-200 bg-indigo-700 ring-1 ring-transparent ring-offset-1 peer-checked:ring-gray-300"
              ></span>
            </label>
          </div>
          <div class="py-4">
            <legend class="text-lg font-bold">Size:</legend>
            <div class="mt-2 flex flex-wrap gap-1">
              <label for="size_xs" class="cursor-pointer">
                <input
                  type="radio"
                  name="size"
                  id="size_xs"
                  class="peer sr-only"
                />

                <span
                  class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-slate-500 peer-checked:text-white"
                >
                  XS
                </span>
              </label>

              <label for="size_s" class="cursor-pointer">
                <input
                  type="radio"
                  name="size"
                  id="size_s"
                  class="peer sr-only"
                />

                <span
                  class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-slate-500 peer-checked:text-white"
                >
                  S
                </span>
              </label>

              <label for="size_m" class="cursor-pointer">
                <input
                  type="radio"
                  name="size"
                  id="size_m"
                  class="peer sr-only"
                />

                <span
                  class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-slate-500 peer-checked:text-white"
                >
                  M
                </span>
              </label>

              <label for="size_l" class="cursor-pointer">
                <input
                  type="radio"
                  name="size"
                  id="size_l"
                  class="peer sr-only"
                />

                <span
                  class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-slate-500 peer-checked:text-white"
                >
                  L
                </span>
              </label>

              <label for="size_xl" class="cursor-pointer">
                <input
                  type="radio"
                  name="size"
                  id="size_xl"
                  class="peer sr-only"
                />

                <span
                  class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-slate-500 peer-checked:text-white"
                >
                  XL
                </span>
              </label>
            </div>
          </div>
          <div>
            <legend class="text-lg font-bold">Quantity:</legend>
            <div
              class="items-center border border-gray-200 rounded inline-block"
            >
              <button
                (click)="updateQuantity('decrease')"
                type="button"
                class="w-10 h-10 leading-10 text-gray-600 transition hover:bg-slate-300"
              >
                &minus;
              </button>

              <input
                type="number"
                id="Quantity"
                [(ngModel)]="valueQuantity"
                (input)="updateQuantity('input')"
                (keydown)="handleInput($event)"
                class="h-10 w-16 border-transparent text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
              />

              <button
                (click)="updateQuantity('increase')"
                type="button"
                class="w-10 h-10 leading-10 text-gray-600 transition hover:bg-slate-300"
              >
                &plus;
              </button>
            </div>
            <!-- Sản phảm còn lại -->
            <span class="ml-3">{{ quantity }} products available</span>
          </div>
          <div class="flex">
            <div class="flex">
              <span>
                <i class="fa-light fa-cart-plus"></i>
              </span>

              <button
                type="button"
                class="h-14 px-9 py-2 font-semibold  bg-teal-50 border border-teal-500 hover:bg-transparent text-teal-500 mt-6 rounded-lg"
              >
                Add to cart
              </button>
            </div>
            <button
              type="button"
              class="mx-5 h-14 px-9 py-2 font-semibold  bg-teal-600 hover:bg-teal-500 text-white mt-6 rounded-lg"
            >
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
